:root{
    /* FONTE */

    --font-dm-sans: "DM Sans", sans-serif;
    
/* COLOR */

    --bg-icon: #131313;
    --bg-arrow-color: #2b2b2e;
    --bg-card2: #F4DFC8;
    --bg-card3: #F4EAE0;
    --bg-card4: #F3EEEA;
    
    color: #131313d5;
    color: #1313137a;
    color: #13131350;
    color: #1313130c;
}


